<launch>
  <node pkg="utils" type="catmull_rom_optimizer_node" name="catmull_rom_optimizer_node" output="screen">
<!--   <node pkg="utils" type="minimum_snap_optimizer_node" name="minimum_snap_optimizer_node" output="screen"> -->
<!--   <node pkg="utils" type="piecewise_cubic_spline_optimizer_node" name="piecewise_cubic_spline_optimizer_node" output="screen"> -->
    <param name="edt_hard_min" value="0.0" />
    <param name="speed_s_per_sec" value="1.2" />
    <param name="yaw_lookahead_s" value="0.2" />
    <param name="ignore_while_exec" value="true" />
    <param name="max_yaw_rate" value="1.2" />
    <param name="yaw_align_tol" value="0.12" />
    <param name="yaw_align_timeout" value="8.0" />
    <param name="max_refine_iter" value="10" />
    <param name="refine_step_m" value="0.10" />
    <param name="refine_sample_ds" value="0.10" />
  </node>

</launch>
